body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9E9E9E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header h1 {
  color: #F5F5F5;
  font-family: "Montserrat";
  font-weight: 200;
  
}

header {
  background-color: #616161;
  margin: auto -16px;
  padding: 8px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.button {
  background-color: #555555; 
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.1), /* Subtle inner shadow */
    0px 4px 8px rgba(0, 0, 0, 0.2), /* Mid-level shadow */
    0px 8px 16px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: #0a0a0a; 
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active {
  background-color: #0a0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.receipt {
  background: #fff;
  height: auto ;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 50%;
  float: left;
  position: absolute; /* Position the box absolutely */
  top: 50%; /* Set the top position to 50% */
  left: 50%; /* Set the left position to 50% */
  transform: translate(-50%, -50%); /* Translate the box back by half its width and height */
  margin: 0 auto;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.1), /* Subtle inner shadow */
    0px 4px 8px rgba(0, 0, 0, 0.2), /* Mid-level shadow */
    0px 8px 16px rgba(0, 0, 0, 0.3);
  
}

.receipt input {
  font-size: 1.1em;
  margin-bottom: 18px;
  
  white-space: pre-wrap;
  word-wrap: break-word;
}

.receipt p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 7px;
  background: #9E9E9E;
  text-align: center;
  color: #F5F5F5;
  width: auto;
  max-width: 100%;
  margin: 18px;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 1.1em;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.1), /* Subtle inner shadow */
    0px 4px 8px rgba(0, 0, 0, 0.2), /* Mid-level shadow */
    0px 8px 16px rgba(0, 0, 0, 0.3);
  
}

